%color-boton{
    background-color: blueviolet;
    color: black !important;
    border-color: black !important;
}
%footer{
    height: auto;
    background-image:linear-gradient(to left, rgba(245, 187, 100, 0.593), rgb(195, 112, 186), white);
    
    }