@import "scss/base/extends";
footer{
    @extend %footer;
     
     h6{
         text-align:center;
         margin-top: 10px;
        
     }
     .iconos img{
     height: 50px;
     margin-left: 200px;
     margin-top: 20px;
     }
     }
  