@media screen and (max-width: 912px){
   
    .galeria-conteiner{
        grid-template-columns:repeat(3 , 1fr);
    }
    .columnas{
        text-align: center;
        margin-left: 5px;

    }
    .videos iframe{
        margin-left: 35px;
        width: auto;
    }
    .card{
        margin-left: 70px;
        }
    
    
    .formulario{
        margin-left: 150px;

    }
       
    }
    @media screen and (max-width: 712px){
   
        .galeria-conteiner{
            grid-template-columns:repeat(3 , 1fr);
        }
        .columnas{
            text-align: center;
            margin-left: 5px;
    
        }
        .card{
            margin-left: 50px;
            }
    
        .formulario{
            margin-left: 150px;
    
        }
        .videos iframe{
            margin-left: 200px;
            width: auto;
        }
        .row img{
            width: 260px;
            margin-left: 1px;

        }
        
        
        }

    @media screen and (max-width: 612px){
        .galeria-conteiner{
            grid-template-columns:repeat(2 , 1fr);
        }
        .columnas{
            text-align: center;
        }
        .card{
            margin-left: 30px;
            }
        .videos iframe{
            margin-left: 120px;
            width: auto;
            }
        .row img{
                width: 210px;
                margin-left: 1px;
        
            }
        .netflix iframe{
            width: 200px !important;
        }
            }
           
    