@media screen and (max-width: 812px){
    .navbar{
        z-index: 4 !important;
        float: left;
        font-size: 10px;
        
    }
    .navbar-expand-lg{
        margin-left: 10px;
        justify-content: flex-start;
    }
    .navbar-nav .nav-link.active, .navbar-nav .show .nav-link{
        width: 100px;
        background-color: rgba(63, 16, 96, 0.256);
        color: black !important;
        margin-bottom: 1px;
    }
    .navbar .nav-link{
        color: black !important;
        background-color: rgba(63, 16, 96, 0.256);
        
        margin-bottom: 1px;
        width: 100px;
    }
  

        
    .carousel-inner{
       margin-left: 1px;
       width: 100vw;
        
    }
    .carousel-item{
        margin-right: 50px;
        width: 100vw;
    }
    .col {
        margin-left: 150px !important;
    }
    
    .formulario{
        margin-left: 150px;

    }
       
    }
    @media screen and (max-width: 612px){
        .navbar{
            z-index: 4 !important;
            float: right;
            font-size: 10px;
            
        }
        .navbar-nav .nav-link.active, .navbar-nav .show .nav-link{
            width: 100px;
            background-color: rgba(63, 16, 96, 0.256);
            color: black !important;
            margin-bottom: 1px;
        }
        .navbar .nav-link{
            color: black !important;
            background-color: rgba(63, 16, 96, 0.256);
            
            margin-bottom: 1px;
            width: 100px;
        }
        .carousel-inner{
            margin-left: 10px;
        }
        .col {
            margin-left: 100px !important;
            }
        .formulario{
            margin-left: 200px;
            
            }
           
        }